body
{
	margin: 0;
	padding: 0;
	color: #000000;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #9FB6CD;
	// corpo da pagina
}

#page
{
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 5px;
	background: #EEE8AA;
	border: 6px solid #008B8B;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #008B8B;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
	//menu suspenso lado direito
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #008B8B;
	//rodape
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 10px 5px 0px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
	//menu escolhas (principal,sobre...)
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #8B0000;
	background-color:#90EE90;
	text-decoration:none;
	// menu escolhas cor de fundo e letra em destaque
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #778899;
	//campos de divisao 
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}



.portlet-decoration
{
	padding: 3px 8px;
	background: #EE7600;
	border-left: 5px solid #FF0000;
	//texto lado direito
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #000000;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#DAA520;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: ;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
	//menu ao lado 
}

.operations li a:visited
{
	color: #68228B;
}

.operations li a:hover
{
	background: #FFFF00;
}